services:
  nginx:
    image: tiangolo/nginx-rtmp
    ports:
      - "1935:1935"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./streams:/app/streams   # ⬅️ CHANGE HERE
    restart: always

  server:
    build: ./server
    volumes:
      - ./streams:/app/streams   # ⬅️ SAME PATH
      - ./public:/app/public
    ports:
      - "3000:3000"
    restart: always